html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color:#7a6052;
}

.main-header {
    background-color: #c18b6e;
    padding: 20px 0;
    background-size: cover;
}

.title {
    text-align: center;
    margin: 0;
    font-size: 3em;
    font-family: "Anton", sans-serif;
    font-weight: normal;
    color: #f1e0d0;
}

#cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto;
    max-width: 1200px; 
    background-color: #d6c3b6; 
}

.card {
    width: calc(33.33% - 20px); 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    background-color: #c18b6e;
}

.card-content {
    padding: 20px;
    font-family: "Verdana";
    color: #beab9b; 
}

.card-content h2 {
    margin-top: 0;
    font-size: 20px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.navigation {
    background-color: #b3cbbe;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}

.navigation button,
.navigation select {
    background-color: #f1e0d0; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: black; 
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
}

.navigation select {
    margin: 0 10px;
}

.footer {
    background-color: #b3cbbe;
    padding: 20px 0;
    color: white;
    text-align: center;
    width: 100%;
}

.match {
    border:#7a6052 5px;
    margin: 10px;
    justify-content: center;
}
